.icon{
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
}

th.mat-column-image,
th.mat-column-image{
    width: 180px;
}

th.mat-column-action,
th.mat-column-action{
    width: 150px;
}

th.mat-column-name,
th.mat-column-name{
    max-width: 150px;
}
.over-lay {
    position: relative;
    width: 80px;
  }
  
  .over-lay>img {
    height: 80px;
    object-fit: cover;
  }
  
  .over-lay-text {
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    opacity: 0.7;
    width: 100%;
  }