<img class="img-fluid bg-primary shadow-sm" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">



<mat-nav-list dense class="mt-2">
    <a mat-list-item href="http://www.google.com" >
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img mat-list-avatar class="rounded" src="https://cdn-icons-png.flaticon.com/512/2979/2979590.png" alt="">
     </a>
     <a mat-list-item href="http://www.google.com" >
        <span mat-line><span class="mat-h4">Shop</span></span>
        <img mat-list-avatar class="rounded" src="https://cdn-icons.flaticon.com/png/512/1390/premium/1390713.png?token=exp=1639116011~hmac=70e0eb6dd8a2d9bda568192f72688a9e" alt="">
     </a>
     <mat-divider class="mt-4"></mat-divider>
     <h3 matSubheader>Dashboard</h3>
     <a mat-list-item href="http://www.google.com" >
        <span mat-line><span class="mat-h4">Summary</span></span>
        <img mat-list-avatar class="rounded" src="https://cdn-icons.flaticon.com/png/512/3110/premium/3110905.png?token=exp=1639116552~hmac=03adf889e0be1f2feee78997a1b92745" alt="">
     </a>
     <a mat-list-item href="http://www.google.com" >
        <span mat-line><span class="mat-h4">Customer</span></span>
        <img mat-list-avatar class="rounded" src="https://cdn-icons-png.flaticon.com/512/3225/3225069.png" alt="">
     </a>

 </mat-nav-list>